.sceneCanvas {
  width: 100%;

  .scalableCanvas {
    border: 1px solid rgba(0, 0, 0, .1);
  }

  &__lineWidth {
    display: flex;
    margin-top: 15px;
  }

  &__widthSelectors {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
  }

  &__widthSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
  }

  &__widthPicker {
    display: block;
    border: 2px solid transparent;
    border-radius: 50%;

    &_active {
      border-color: rgb(30, 167, 253);
    }
  }
}
